<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://localHost/scarf?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.generate_statistics">false</property>
		<mapping resource="br/com/jguedes/scarf/entidades/recurso/Recurso.hbm.xml" />
		<mapping resource="br/com/jguedes/scarf/entidades/usuario/Usuario.hbm.xml" />
		<mapping
			resource="br/com/jguedes/scarf/entidades/agendamento/Agendamento.hbm.xml" />
		<mapping
			resource="br/com/jguedes/scarf/entidades/historicodeagendamento/HistoricoDeAgendamento.hbm.xml" />
	</session-factory>
</hibernate-configuration>
